*{box-sizing:border-box
}
/* Base style for mobile  devices */
body{
    background-color:    #378fdc;
}
#navbar{ 
    background-color: rgb(0, 0, 0);
    overflow:hidden;
    height: 200px;
}
.image{
    float: left;
    margin-top: -150px;
    
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}
li a, .dropbtn {
  display: inline-block;
  color: #e2e2e2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #ff0098;
}

li.dropdown {
  display: inline-block;
  padding-left: 30PX;
  padding-bottom: 30px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ff0098;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #000;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #000000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: larger;
  font-weight: 500;
}

.dropdown-content a:hover {background-color: #25ba3a;}

.dropdown:hover .dropdown-content {
  display: block
}
.dropdown .search button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.dropdown .search button:hover {
  background: #ccc;
}
.search {
  float: right;
  padding: 15px 30px;
}

  #back{
    background-color: #000000;
    padding: 20px;
    margin: auto;
    margin-top: 30px;
    overflow: hidden;

}
#content {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: center;
}
#content2 {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: center;
}
#content3 {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: center;
}
#content4 {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: center;
}
#content5 {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: center;
}
.pic {
    width: 500px;
    height: 285px;
    background-color: #e2e2e2;
    color: #000000;
    text-align: center;
    margin-left: 20px;
    border: #25ba3a 5px solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: large;
}
.text{
  color:#000;
  font-size: 70px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}
@media screen and (max-width: 800px) {

  #content,
  #content2,
  #content3,
  #content4,
  #content5 {
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
  }
  .pic {
    width: 100% !important;        
    height: fit-content;
    flex-basis: auto !important;
    font-size: 20px;
    line-height: 1.1;
    padding: 10px 0;
  }
  }
@media screen and (max-width: 1100px) {

  #content,
  #content2,
  #content3,
  #content4,
  #content5 {
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
  }
  .pic {
    width: 100% !important;   
    max-width: 500px;
    height:fit-content;       
    margin: 15px auto;
    flex-basis: auto !important;
      font-size: 15px;
    line-height: 1.1;
    padding: 12px 0;
  }
}
@media screen and (max-width: 1300px){
  .pic{
    font-size: 15px;
        line-height: 1.1;
    padding: 12px 0;
  }
}
@media screen and (max-width: 1900px){
  .pic{
    font-size: 14px;
        line-height: 1.1;
    padding: 12px 0;
  }
}
  


@media screen and (max-width: 800px) {

  ulli {
    float: none;
    width: 90%;
    text-align: left;     
    padding: 10px 20px;    
    display: block;
  }

  .search {
    float: none;
    width: 100%;
    text-align: right;  
    padding: 10px 20px;
  }

  .search form {
    display: inline-block; 
  }

  .search input {
    width: 60%;            
  }

  .search button {
    margin-left: 5px;
    float: none;
  }
}

