*{box-sizing:border-box
}
/* Base style for mobile  devices */
body{
    background-color:    #378fdc;
    background-image: url(8bit.jpg);
    background-repeat:repeat-y;
    background-position: center;
    background-size: 90%;
}
#box{
    background-color: #000;
    width: 1500px;
    height: 1300px;
    margin: auto;
    border: #ff0098;
    border-style:double;
    border-width: 10px;
    margin-top: 50px;
    border-radius: 10px;
}
.text{
    font-size: 90px;
    color: #e2e2e2;
    text-align: center;
    padding-top: 100px;
}
#navbar{ 
    background-color: rgb(0, 0, 0);
    overflow:hidden;
    height: 200px;
}
.image{
    float: left;
    margin-top: -150px;
    
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}
li a, .dropbtn {
  display: inline-block;
  color: #e2e2e2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #ff0098;
}

li.dropdown {
  display: inline-block;
  padding-left: 30PX;
  padding-bottom: 30px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ff0098;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #000;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #000000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: larger;
  font-weight: 500;
}

.dropdown-content a:hover {background-color: #25ba3a;}

.dropdown:hover .dropdown-content {
  display: block
}
.dropdown .search button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.dropdown .search button:hover {
  background: #ccc;
}
.search {
  float: right;
  padding: 15px 30px;
}
.text{
  color:#000;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Labels */
.fname, .lname, .email, .message {
    color: #e2e2e2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    margin: 30px
}
/* Inputs */
#fname, #lname {
    width: 350px;
    padding: 15px;
    border: 5px double #7833db;
    border-radius: 4px;
    background-color: #e2e2e2;
    font-size: large;
    margin-top: 20px;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 30px;
}

#email, #message {
    width: 900px;
    max-width: 90%;
    padding: 15px 30px;
    border: 5px double #7833db;
    border-radius: 4px;
    background-color: #e2e2e2;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    margin: 30px;
}

#message {
    height: 200px;
}

.enter{
  background-color: #7833db;
  color: #e2e2e2;
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  border: black;
  border-radius: 5px double;
  padding: 15px 32px;
  text-align: center;
  margin-top: 20px;
  display: block;
  cursor: pointer;
  margin: 30px;
}
#box {
    max-width: 100%;
    margin: auto;
    overflow: hidden;  
 margin-top: 20px;
}
/* --- Keep form inside the pink border on medium screens --- */
@media (max-width: 1200px) {
    #email, #message {
        width: 80%;
        margin: 10px;
    }

    #fname, #lname {
        width: 40%;
        margin:10px;
    }
}

/* --- Stack names on smaller screens --- */
@media (max-width: 800px) {

    #fname, #lname {
        width: 50%;
    }
}

/* --- For phones --- */
@media (max-width: 500px) {
    #email, #message {
        width: 100%;
    }

    #fname, #lname {
        width: 50%;
    }
}
@media screen and (max-width: 800px) {

  ulli {
    float: none;
    width: 90%;
    text-align: left;     
    padding: 10px 20px;    
    display: block;
  }

  .search {
    float: none;
    width: 100%;
    text-align: right;  
    padding: 10px 20px;
  }

  .search form {
    display: inline-block; 
  }

  .search input {
    width: 60%;            
  }

  .search button {
    margin-left: 5px;
    float: none;
  }
}

