*{box-sizing:border-box
}
/* Base style for mobile  devices */
body{
    background-color:    #378fdc;
}
#navbar{ 
    background-color: rgb(0, 0, 0);
    overflow:hidden;
    height: 200px;
}
.image{
    float: left;
    margin-top: -150px;
    
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}
li a, .dropbtn {
  display: inline-block;
  color: #e2e2e2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #ff0098;
}

li.dropdown {
  display: inline-block;
  padding-left: 30PX;
  padding-bottom: 30px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ff0098;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #000;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #000000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: larger;
  font-weight: 500;
}

.dropdown-content a:hover {background-color: #25ba3a;}

.dropdown:hover .dropdown-content {
  display: block
}
.dropdown .search button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.dropdown .search button:hover {
  background: #ccc;
}
.search {
  float: right;
  padding: 15px 30px;
}

@media screen and (max-width: 600px) {
  .dropdown .search #navbar .image, #back{
    float: none;
    overflow: hidden;
    background-color: #000;
  
  }}

  #back{
    background-color: #000000;
    padding: 20px;
    margin: 20px;
    width: auto;
}
#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}
.pic {
    float: none;
    flex-basis: 800px; 
    height: 280px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    padding-top: 100px;
    border-style: solid;
    border-width: 10px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text{
  color:#000;
  font-size: 70px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}
a.link:link {color: #000;}
a.link:visited {color:black;}
a.link:hover {color:#ff0098;}
a.link:active {color:#25ba3a;}


@media screen and (max-width: 800px) {

  ulli {
    float: none;
    width: 90%;
    text-align: left;     
    padding: 10px 20px;    
    display: block;
  }

  .search {
    float: none;
    width: 100%;
    text-align: right;  
    padding: 10px 20px;
  }

  .search form {
    display: inline-block; 
  }

  .search input {
    width: 60%;            
  }

  .search button {
    margin-left: 5px;
    float: none;
  }
}
@media (max-width: 900px) {
    #content {
        flex-direction: column;
        align-items: center;
    }

    .pic {
        flex-basis: 100%; 
        width: 95%;       
    }
}
